*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #444444;
    color: #ffffff;
}
.main{
display: flex;
justify-content: center;
height: 50vh;
margin-top: 4rem;
padding:4rem;
}
.main button{
    padding: 10px 20px;
    color:#ffffff;
    background-color: #664fe8;
    border-radius: 15%;
    height: 40px;
    width:80px;
    margin: 0rem 1rem 0rem 1rem;
}

#count{
    background-color: #fff;
    color:black;
    height:40px;
    width: 40px;
    padding:10px 15px 10px 15px;
    border:1px solid black;
    border-radius: 20%;
}